:host {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--overlay);
  backdrop-filter: blur(1.5px);
  z-index: 10;
}

.spinner-border {
  width: 2.75rem;
  height: 2.75rem;
}
