:root {
  --bs-body-bg: #f8f9fa;
  --bs-body-color: #212529;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.main-content {
  margin-left: 260px;
  padding: 2rem;
  transition: all 0.3s;
}

@media (max-width: 992px) {
  .main-content {
    margin-left: 0;
  }
}
